Source: chamge
Priority: optional
Maintainer: Jeongseok Kim <jeongseok.kim@sk.com>
Build-Depends: debhelper (>= 10~),
  meson,
  libglib2.0-dev,
  libjson-glib-dev,
  librabbitmq-dev,
Standards-Version: 4.2.1
Section: libs
Homepage: https://github.com/hwangsaeul/chamge
Vcs-Browser: https://github.com/hwangsaeul/chamge
Vcs-Git: https://github.com/hwangsaeul/chamge.git

Package: libchamge1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Connection Broker API
 Chamge is a connection broker API for SRT streaming service.

Package: libchamge-dev
Section: libdevel
Architecture: any
Depends: libchamge1 (= ${binary:Version}), ${misc:Depends}
Description: Connection Broker API
 Chamge is a connection broker API for SRT streaming service.
 .
 This package contains development files for chamge.

Package: chamge-tools
Architecture: any
Section: utils
Depends: libchamge1 (= ${binary:Version}), ${misc:Depends}
Description: Connection Broker API
 Chamge is a connection broker API for SRT streaming service.

